/* row and column helpers */
html,
body {
  padding-top: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* nav bar css */
#nav {
  position: sticky;
  background-color: #282c34;
  overflow: auto;
  top: 0;
  left: 0;
  display: inline-block;
}

#nav li {
  float: left;
}

#nav li:not(:first-child) {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  border-right: 1px solid #ccc;
}

#nav li #button-a-copy {
  font-weight: bold;
  font-size: 1.5em;
  border-right: none;
  padding-right: 1em;
  border-right: 1px solid #ccc;
}

.nav-link-element {
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
}

.nav-link-element:hover {
  color: #282c34;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

/* client page css */
.image-container {
  background-size: cover;
  padding: 4rem 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 40px;
}

.image {
  transition: all 0.2s ease-in-out;
  padding: 20px;
}

.image:hover {
  transform: scale(1.1);
}
