#nav {
  position: sticky;
  background-color: #282c34;
  overflow: auto;
  top: 0;
  left: 0;
  display: inline-block;
}

#nav li {
  float: left;
}

#button-a-copy,
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  border-right: 1px solid #ccc;
}

#button-a-copy {
  font-weight: bold;
  font-size: 1.5em;
  border-right: none;
  padding-right: 1em;
}
