html,
body {
  margin-top: 20px;
}

:root {
  --main-color: #282c34;
}

.header {
  padding-top: 30px;
  font-weight: bold;
  font-size: 3em;
}

.header2 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* nav bar css */
.nav-link-element {
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
}

.nav-link-element:hover {
  color: var(--main-color);
  background-color: white;
  transition: all 0.5s ease-in-out;
}

#contact-us-button {
  background-color: white;
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 20px;
  transition: all 0.5s ease-in-out;
}

#contact-us-button:hover {
  transform: scale(1.1);
}

/* client page css */
/*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
.image-container {
  background-size: cover;
  padding: 4rem 2rem;
  height: 80%;
  width: 80%;
  display: inline-grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.image {
  transition: all 0.2s ease-in-out;
  padding: 20px;
}

.image:hover {
  transform: scale(1.1);
}

/* employee page */
.divider-line {
  border-top: 3px solid var(--main-color);
  border-radius: 5px;
}

/* contact us modal */
.modal-text-input {
  margin: 7px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 100%;
}

.modal-text-area {
  border: 2px solid lightgrey;
  border-radius: 10px;
  width: 100%;
}

.modal-button {
  transition: all 0.2s ease-in-out;
}

.modal-button:hover {
  transform: scale(1.05);
}

.modal-send-button {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.modal-close-button {
  background-color: white;
  color: var(--main-color);
  border-color: var(--main-color);
}
